
body {
    margin: 0;
    padding: 0;
}
#board {
    height: 100vh;
    background-color: rgb(165, 226, 206);
    position: relative;

}

#player {
    background-color: pink;
    position: absolute;
}

.obstacle {
    background-color: blueviolet;
    position: absolute;

}